{% extends "getting-started.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <h2>Test Cart</h2>
    <p style="margin-top:20px;">This is a test cart to show which calls need to 
    be made to allow a buyer to make a purchase. You will need a <strong>test account</strong> 
    before proceeding. Test accounts can be created in Seller Central.</p>
    <p>Note: This is a <strong>sandbox</strong> transaction. Your <strong>payment method</strong> will <strong>not be charged</strong>.</p>
    <div class="panel panel-default" style="margin-top:25px;">
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Price</th>
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                    <td><div class="btn btn-default"><img class="media-object" src="{{ item['image_url'] }}" alt="Item"></div></td>
                    <td>
                        <div><strong>{{ item['name'] }}</strong></div>
                        <div><em>{{ item['description'] }}</em></div>
                    </td>
                    <td class="text-center">{{ item['quantity'] }}</td>
                    <td class="text-center">￥ {{ item['price'] }},000</td>
                </tr>
              {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <div><strong></strong></div>
                        <div><em></em></div>
                    </td>
                    <td style="padding-top: 20px" class="text-center"><strong>Total</strong></td>
                    <td style="padding-top: 20px" class="text-center"><strong>￥ {{ total_amount }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="text-center" style="margin-top:40px;" id="AmazonPayButton"></div>
    <script type='text/javascript'>
        window.onAmazonPaymentsReady = function() {
            showAmazonPayButton();
            console.log('onAmazonPaymentsReady');
        };

        function showAmazonPayButton(){
            var authRequest; 
            OffAmazonPayments.Button("AmazonPayButton", "{{ session['merchant_id'] }}", { 
                type:  "PwA", 
                color: "Gold", 
                size:  "normal", 

                authorization: function() { 
                    loginOptions = {
                        scope: "profile payments:widget payments:shipping_address postal_code", 
                        interactive: "never",
                        popup: true
                    }; 
                    authRequest = amazon.Login.authorize (loginOptions, function(response) {
                        addressConsentToken = response.access_token;
                        console.log('Constent token: ' + addressConsentToken);
                        if (!addressConsentToken) {
                            var authUrl = '/auth/amazon?return_url=/amazon-pay/set&sandbox=true&intent=lpwa';
                            window.location.href = authUrl;
                        } else {
                            console.log("logIn success, render address and wallet widgets");
                            window.location.href = '/amazon-pay/set?access_token=' + addressConsentToken;
                        }
                    }); 
                }, 
                onError: function(error) { 
                    // your error handling code.
                    alert("The following error occurred: " 
                        + error.getErrorCode() 
                        + ' - ' + error.getErrorMessage());
                } 
            });
        }; 
    </script>
{% endblock content %}
