{% extends "getting-started.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <h2>Confirm</h2>
    <p>Congratulations! Your order are processed</p>
    <p>At this point we will make the <em>Confirm</em> API call to confirm the order
    reference and a subsequesnt <em>Authorize</em> and <em>Capture</em> API call. 
    If you used a test account associated with your email address you should receive 
    an email.</p>
    <p>This concludes the Python simple checkout example.</p>
{% endblock content %}

{% block api %}
<h3>Code</h3>
<p>The <em>Confirm</em> API call does not return any special values. If it were 
unsuccessful you would see an error response.</p>
<pre><code class="json">{{ confirm }}</code></pre>

<p>The <em>Authorize</em> API call will authorize the order reference. Instead 
of making a separate <em>Capture</em> API call we can set the <strong>CaptureNow</strong> 
parameter to <strong>True</strong> and the funds will be captured in the same call.</p>
<pre><code class="json">{{ authorize }}</code></pre>
{% endblock api %}
