<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include the following in your  HTML file -->
    <style type="text/css">
        #addressBookWidgetDiv{width: 400px; height: 228px;}
        #walletWidgetDiv {width: 400px; height: 228px;}
    </style>
</head>
<body>
<div id="settingForm" style="margin-bottom: 20px">
    <form action="/pay/setting" method="POST">
        <label style="margin-right: 20px"> Amazon Client ID :</label>
        <input type="text" id="amz_client" name="amz_client_id" value="" 
            style="width: 400px; margin-bottom: 10px"><br/>

        <label style="margin-right: 20px"> Amazon Seller ID :</label>
        <input type="text" id="amz_seller" name="amz_seller_id" value="">
        <input type="submit" value="Save">
    </form>
</div>
<!-- <div id="AmazonLoginButton">
    <img class=" amazonpay-button-inner-image" style="cursor: pointer; max-height: 48px;"
        alt="AmazonPay" id="AmazonLoginButtonImg" onclick="onAmazonLoginButtonClicked()"
        src="https://d2ldlvi1yef00y.cloudfront.net/default/us/sandbox/lwa/gold/large/LwA.png">
    <a href="#" id="Logout">Logout</a>
</div> -->
<br/>
<div id="AmazonPayButton">
</div>
<!--div
    data-ap-widget-type="expressPaymentButton"
    data-ap-signature="U6RAVwuIaarwc0FQ6%2FwFswN8b9fSf1FYGXhuR88xTVg%3D"
    data-ap-seller-id="AXRHKH1P12JT4"
    data-ap-access-key="AKIAJQCADG3WKGT46RLA"
    data-ap-lwa-client-id="amzn1.application-oa2-client.ab1b795980bf4f9b9cd2edeb040dde8e"
    data-ap-return-url="http://localhost:8080/pay.html"
    
    data-ap-currency-code="USD"
    data-ap-amount="500"
    data-ap-note=""
    data-ap-shipping-address-required="true"
    data-ap-payment-action="None"
    >
</div-->
<div id="addressBookWidgetDiv">
</div> 
<div id="walletWidgetDiv">
</div>    
<script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function onAmazonLoginButtonClicked() {
        console.log('onAmazonLoginButton clicked');
        var cachedToken = getCookie('amazon_Login_state_cache');
        var authUrl = '/auth/amazon?return_url=/pay.html&sandbox=true&intent=lpwa';
        if (cachedToken != "") {
            if (confirm('You are already logged in. Do you want re-authenticate ?')) {
                window.location.href = authUrl;
            }
        } else {
            window.location.href = authUrl;
        }
    }
</script>
<script type="text/javascript">
    var clientId = getCookie('amz_client_id');
    if (!clientId) {
        clientId = 'amzn1.application-oa2-client.ab1b795980bf4f9b9cd2edeb040dde8e';
    }
    var sellerId = getCookie('amz_seller_id');
    if (!sellerId) {
        sellerId = 'AXRHKH1P12JT4';
    }

    window.onAmazonLoginReady = function() {
        amazon.Login.setClientId(clientId);
        document.cookie = "amazon_Login_accessToken=Atza|IwEBILg9CI3WpZNNpbIvbzPjwiIjnzY6HdbSlNisRssgMlGcIGXwaMZk5GGrh-kkO1XmGrfnOZgvtpMkfn7pqgc7gk-g7YSdECLdpRMM_ncck67Kv0RAi4HfEHEmYS4dTB_A4pASvFozmTneSM2_bnGFBnwr2fnH2fmEgDFKub_m_204tp_5VzgMk-xvQD5fn625t_Ly-WI7rFbcWLZvq7Lx4J6jdSmfEQXB0-cC2V_pBdCKGYA4Eq9prdNYrOTGekLBz-eB1Qo5EE3l1ISyK-hqogTUSX6pwZA4QmEGjwReN9RprQxt8OiqN4x8tKQUd84Mo71CZiN4LqhqDnoDrtbO0yav0Vl46lycGkCWPFYjpugMqIJFD8aLiKkDSUMKyiWzvAzbM1zxj7-xff7QhDmvqM7iYnrPzdnVjD85Qp5_S_1Sjmf1XVQSRmMa6TIyTdLiVOnwgy2k27Mxdum_ZQJ3d-Xu4BGGC1i9bgjXltnprQwBkkRu3v74QyrWFaez5Li_5FoMoXWfw1fOBHsuDAKJFhvAiurML3j-UxOeGzRUeW6Pqqr7-9Yi39-PDT1UPHjKGphKDptI_jtx5hX_MZGMK1SblY6jrQR_JRjwcPDoWfVTDQ; expires=Sat, 02 Feb 2019 00:44:43 GMT";
        console.log('onAmazonLoginReady');
    };
    window.onAmazonPaymentsReady = function() {
        showAmazonPayButton();
        console.log('onAmazonPaymentsReady');
        console.log('amz client ID: ' + clientId);
        console.log('amz seller ID: ' + sellerId);
    };

    function showAmazonPayButton(){
        var authRequest; 
        OffAmazonPayments.Button("AmazonPayButton", sellerId, { 
            type:  "PwA", 
            color: "Gold", 
            size:  "normal", 

            authorization: function() { 
                loginOptions = {
                    scope: "profile payments:widget payments:shipping_address postal_code", 
                    interactive: "never",
                    popup: true
                }; 
                authRequest = amazon.Login.authorize (loginOptions, 
                    function(response) {
                        addressConsentToken = response.access_token;
                        console.log('Constent token: ' + addressConsentToken);
                        if (!addressConsentToken) {
                            // alert('You must log in before can pay');
                            onAmazonLoginButtonClicked();
                        } else {                            
                            console.log("logIn success, render address and wallet widgets");
                            showAddressBookWidget();
                            // showWalletWidget();                        
                        }                    
                    }
                ); 
            }, 
            // onSignIn: function(orderReference) {
            //     amazonOrderReferenceId = orderReference.getAmazonOrderReferenceId();
            //     console.log("amazonOrderReferenceId: " + amazonOrderReferenceId);

            //     if (!amazonOrderReferenceId) {
            //         alert('amazonOrderReferenceId null');
            //     } else {
            //         showAddressBookWidget();
            //         showWalletWidget();
            //         console.log("logIn success, render address and wallet widgets");
            //     }
            // },
            onError: function(error) { 
                // your error handling code.
                alert("The following error occurred: " 
                    + error.getErrorCode() 
                    + ' - ' + error.getErrorMessage());
            } 
        });
    }; 

    function showAddressBookWidget() {
        new OffAmazonPayments.Widgets.AddressBook({
            sellerId: sellerId,
            onOrderReferenceCreate: function(orderReference) {
                // Here is where you can grab the Order Reference ID.
                amazonOrderReferenceId = orderReference.getAmazonOrderReferenceId();
                console.log("onOrderReferenceCreate: " + amazonOrderReferenceId)
                showWalletWidget(); 
            },
            onAddressSelect: function(orderReference) {
                console.log("onAddressSelect " + JSON.stringify(orderReference))
            },
            design: {
                designMode: 'responsive'
            },
            onReady: function(orderReference) {
                // Enter code here that you want to be executed 
                // when the address widget has been rendered. 
                console.log("AddressBook onReady: " + JSON.stringify(orderReference))
            },
            onError: function(error) {
                console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
            }
        }).bind("addressBookWidgetDiv");
    }

    function showWalletWidget() {
        new OffAmazonPayments.Widgets.Wallet({
            sellerId: sellerId,
            onPaymentSelect: function(orderReference) {
                console.log("onPaymentSelect " + JSON.stringify(orderReference))
            },
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
            }
        }).bind("walletWidgetDiv");
    }
</script>
<script type="text/javascript">
    document.getElementById('Logout').onclick = function() {
        amazon.Login.logout();
        console.log("Click logout")
    };
</script>
<script async="async" src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"></script>
</body>
</html>
