{% extends "amzpay.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <h2>Confirm your order</h2>
    <p><pre><code>{{ order_detail }}</code></pre></p>

    <div class="text-center" style="margin-top:40px;">
        <form class="form-horizontal" style="margin-top:40px;" role="form" method="post" action="confirm">
            <button id="place-order" class="btn btn-lg btn-success btn-loading">Place Order</button>
            <div id="ajax-loader" style="display:none;"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"/></div>
        </form>
    </div>
{% endblock content%}

{% block api %}
{% endblock api %}
