{% extends "amzpay.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <h2>Select Shipping and Payment Method</h2>
    <p style="margin-top:20px;">Select your billing address and payment method
    from the widgets below. Your address consent token:</p>
    <p><pre><code>{{ session['access_token'] }}</code></pre></p>
    <p>If you see a error message in the widgets you will need to
    start over. This usually indicates that your session has expired. If the problem
    persists please contact developer support.</p>

    <div class="text-center" style="margin-top:40px;">
        <div id="addressBookWidgetDiv" style="width:400px; height:240px; display:inline-block;"></div>
        <div id="walletWidgetDiv" style="width:400px; height:240px; display:inline-block;"></div>
        <div style="clear:both;"></div>
        <form class="form-horizontal" style="margin-top:40px;" role="form" method="post" action="confirm">
            <button id="place-order" class="btn btn-lg btn-success">Place Order</button>
            <div id="ajax-loader" style="display:none;"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" /></div>
        </form>
    </div>
    <script type="text/javascript">
        window.onAmazonPaymentsReady = function() {
            console.log('onAmazonPaymentsReady');
            showAddressBookWidget();
        };

        function showAddressBookWidget() {
            new OffAmazonPayments.Widgets.AddressBook({
                sellerId: '{{ session['merchant_id'] }}',
                onOrderReferenceCreate: function(orderReference) {
                    // Here is where you can grab the Order Reference ID.
                    amazonOrderReferenceId = orderReference.getAmazonOrderReferenceId();
                    console.log("onOrderReferenceCreate: " + amazonOrderReferenceId)
                    showWalletWidget(); 

                    // make a call to the back-end that will set order reference details
                    // and get order reference details. This will set the order total
                    // to 19.95 and return order reference details.
                    $.post("/amazon-pay/get_details", {
                        orderReferenceId: amazonOrderReferenceId
                    }).done(function (data) {
                        $("#get_details_response").html(data);
                        console.log("getDetailsDone: " + amazonOrderReferenceId);
                    });
                },
                onAddressSelect: function(orderReference) {
                    console.log("onAddressSelect " + JSON.stringify(orderReference))
                },
                design: {
                    designMode: 'responsive'
                },
                onReady: function(orderReference) {
                    // Enter code here that you want to be executed 
                    // when the address widget has been rendered. 
                    console.log("AddressBook onReady: " + JSON.stringify(orderReference))
                },
                onError: function(error) {
                    console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
                }
            }).bind("addressBookWidgetDiv");
        }

        function showWalletWidget() {
            new OffAmazonPayments.Widgets.Wallet({
                sellerId: '{{ session['merchant_id'] }}',
                onPaymentSelect: function(orderReference) {
                    console.log("onPaymentSelect " + JSON.stringify(orderReference))
                },
                design: {
                    designMode: 'responsive'
                },
                onError: function(error) {
                    console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
                }
            }).bind("walletWidgetDiv");
        }
    </script>
{% endblock content%}

{% block api %}
<h3>Code</h3>
<p>This is the live response from the previous API call.</p>
<pre id="get_details_response"><div class="text-center"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" /></div></pre>
{% endblock api %}
