{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4>Link User with Social Profile</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="#" method="get">
                        <div class="form-group row">
                            <label for="id_user_id_link" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_link" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_link" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_link" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit_link">Link</button>
                        </div>
                    </div>
                    <div class="form-group row code-result">
                        <div class="col-md-10">
                            <pre><code class="json" id="result_link">{}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <h4>Unlink User from Social Profile</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="#" method="get">
                        <div class="form-group row">
                            <label for="id_user_id_unlink" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_unlink" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_unlink" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_unlink" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit_unlink">Unlink
                            </button>
                        </div>
                    </div>
                    <div class="form-group row code-result">
                        <div class="col-md-10">
                            <pre><code class="json" id="result_unlink">{}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <h4>Disassociate User from Providers</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="#" method="get">
                        <div class="form-group row">
                            <label for="id_user_id_disassociate" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_disassociate" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_providers_disassociate" class="col-md-2 col-form-label">Providers</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_providers_disassociate"
                                       placeholder="line,amazon,yahoojp" type="text"
                                       name="providers">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit_disassociate">
                                Disassociate
                            </button>
                        </div>
                    </div>
                    <div class="form-group row code-result">
                        <div class="col-md-10">
                            <pre><code class="json" id="result_disassociate">{}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <h4>Get User Profile</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="#" method="GET">
                        <div class="form-group row">
                            <label for="id_user_id_profile" class="col-md-2 col-form-label">User ID/Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_profile" placeholder="User ID/Social ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit_profile">
                                Get Profile
                            </button>
                        </div>
                    </div>
                    <div class="form-group row code-result">
                        <div class="col-md-10">
                            <pre><code class="json" id="result_profile">{}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}