{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4>Easy Login API Explorer</h4>
                <div class="p-l-30">
                    <div class="form-group row">
                        <label for="id_api_name" class="col-md-2 col-form-label">API Name</label>
                        <div class="col-md-8">
                            <select class="form-control" id="id_api_name">
                                <option value="link_user">Link User with Social Profile</option>
                                <option value="unlink_user">Unlink User from Social Profile</option>
                                <option value="merge">Merge profiles</option>
                                <option value="diassociate">Disassociate User from Providers</option>
                                <option value="profile">Get User Profile</option>
                                <option value="associate_token">Get Associate Token</option>
                                <option value="delete_profile">Delete User Profile</option>
                                <option value="delete_info">Delete Profile Info</option>
                            </select>
                        </div>
                    </div>
                    <form class="form-horizontal" action="#" method="get" id="id_form_link">
                        <div class="form-group row">
                            <label for="id_user_id_link" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_link" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_link" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_link" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="get" id="id_form_unlink" style="display:none;">
                        <div class="form-group row">
                            <label for="id_user_id_unlink" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_unlink" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_unlink" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_unlink" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="get" id="id_form_merge" style="display:none;">
                        <div class="form-group row">
                            <label for="id_src_user_id_merge" class="col-md-2 col-form-label">Source User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_src_user_id_merge" placeholder="Source User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_src_social_id_merge" class="col-md-2 col-form-label">Source Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_src_social_id_merge" placeholder="Source Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_dst_user_id_merge" class="col-md-2 col-form-label">Dest User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_dst_user_id_merge" placeholder="Dest User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_dst_social_id_merge" class="col-md-2 col-form-label">Dest Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_dst_social_id_merge" placeholder="Dest Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="get" id="id_form_disassociate"
                          style="display:none;">
                        <div class="form-group row">
                            <label for="id_user_id_disassociate" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_disassociate" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_disassociate" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_disassociate" placeholder="Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_providers_disassociate" class="col-md-2 col-form-label">Providers</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_providers_disassociate"
                                       placeholder="line,amazon,yahoojp" type="text"
                                       name="providers">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="GET" id="id_form_profile" style="display:none;">
                        <div class="form-group row">
                            <label for="id_user_id_profile" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_profile" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_profile" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_profile" placeholder="Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="GET" id="id_form_associate" style="display:none;">
                        <div class="form-group row">
                            <label for="id_api_name" class="col-md-2 col-form-label">Target Provider</label>
                            <div class="col-md-8">
                                <select class="form-control" id="id_target_provider_associate"
                                        name="target_provider">
                                    <option value="line">Line</option>
                                    <option value="amazon">Amazon</option>
                                    <option value="yahoojp">Yahoo Japan</option>
                                    <option value="facebook">Facebook</option>
                                    <option value="twitter">Twitter</option>
                                    <option value="google">Google</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_user_id_associate" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_associate" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_associate" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_associate" placeholder="Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="GET" id="id_form_delete_profile" style="display:none;">
                        <div class="form-group row">
                            <label for="id_user_id_delete_profile" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_delete_profile" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_delete_profile" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_delete_profile" placeholder="Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="#" method="GET" id="id_form_delete_info" style="display:none;">
                        <div class="form-group row">
                            <label for="id_user_id_delete_info" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_delete_info" placeholder="User ID"
                                       type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_delete_info" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_delete_info" placeholder="Social ID"
                                       type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit">Submit</button>
                        </div>
                    </div>
                    <div class="form-group row code-result">
                        <div class="col-md-10">
                            <pre><code class="json" id="result">{}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}