{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4>Application settings</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="/app/setting" method="POST">
                        <div class="form-group row">
                            <label for="id_api_url" class="col-md-2 col-form-label">API URL</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_api_url" placeholder="API URL" type="text"
                                       name="api_url"
                                       value="{{ api_url }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_app_id" class="col-md-2 col-form-label">App ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_app_id" placeholder="App ID" type="text"
                                       name="app_id"
                                       value="{{ app_id }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_api_key" class="col-md-2 col-form-label">API
                                Key</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_api_key" type="text" name="api_key"
                                       value="{{ api_key }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-block" type="submit" value="Save">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <div class="row p-20">
                    <div class="col-md-6" style="padding-top: 44px; padding-left: 100px;">
                        <div class="loginForm line-form">
                            <form action="/auth/line" method="get">
                                <input class="line-btn" type="submit" value="Login with LINE" name="submit"/>
                            </form>
                        </div>

                        <div class="loginForm amazon-form">
                            <form action="/auth/amazon" method="get">
                                <input class="amazon-btn" type="submit" value="Login with AMAZON" name="submit"/>
                            </form>
                        </div>

                        <div class="loginForm yahoo-form">
                            <form action="/auth/yahoojp" method="get">
                                <input class="yahoo-btn" type="submit" value="Login with YAHOOJP" name="submit"/>
                            </form>
                        </div>

                        <div class="loginForm facebook-form">
                            <form action="/auth/facebook" method="get">
                                <input class="facebook-btn" type="submit" value="Login with FACEBOOK" name="submit"/>
                            </form>
                        </div>

                        <div class="loginForm twitter-form">
                            <form action="/auth/twitter" method="get">
                                <input class="twitter-btn" type="submit" value="Login with TWITTER" name="submit"/>
                            </form>
                        </div>

                        <div class="loginForm google-form">
                            <form action="/auth/google" method="get">
                                <input class="google-btn" type="submit" value="Login with GOOGLE" name="submit"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="code-result">
                            {% if line %}
                            <h4>Logged in LINE as</h4>
                            <pre><code class="json">{{ line }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if amazon %}
                            <h4>Logged in AMAZON as</h4>
                            <pre><code class="json">{{ amazon }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if yahoojp %}
                            <h4>Logged in YAHOO JAPAN as</h4>
                            <pre><code class="json">{{ yahoojp }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if facebook %}
                            <h4>Logged in FACEBOOK as</h4>
                            <pre><code class="json">{{ facebook }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if twitter %}
                            <h4>Logged in TWITTER as</h4>
                            <pre><code class="json">{{ twitter }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if google %}
                            <h4>Logged in GOOGLE as</h4>
                            <pre><code class="json">{{ google }}</code></pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
