<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyLogin Demo page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight-railscasts.css') }}" type="text/css"/>
</head>
<body>
<header class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" class="d-inline-block align-top" alt="" width="30"
             height="30">
        EasyLogin Demo
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/pay.html">Amazon Pay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/api-explorer.html">APIs Explorer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-item" style="color: white;" href="/logout">Logout All</a>
        </li>
    </ul>
</header>