<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyLogin Demo page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight-railscasts.css') }}" type="text/css"/>
</head>
<body>
<header class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" class="d-inline-block align-top" alt="" width="30"
             height="30">
        EasyLogin Demo
    </a>
    <a class="nav-link nav-item" style="color: white;" href="/logout">Logout All</a>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4>Application settings</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="/app/setting" method="POST">
                        <div class="form-group row">
                            <label for="id_api_url" class="col-md-2 col-form-label">API URL</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_api_url" placeholder="API URL" type="text"
                                       name="api_url"
                                       value="{{ api_url }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_app_id" class="col-md-2 col-form-label">App ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_app_id" placeholder="App ID" type="text"
                                       name="app_id"
                                       value="{{ app_id }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_api_key" class="col-md-2 col-form-label">API
                                Key</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_api_key" type="text" name="api_key"
                                       value="{{ api_key }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-block" type="submit" value="Save">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <h4>Link User with Social Profile</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="/user/link" method="POST">
                        <div class="form-group row">
                            <label for="id_user_id" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-block" type="submit" value="Link">Link</button>
                            </div>
                        </div>
                        <div class="form-group row code-result">
                            <div class="col-md-10">
                                {% if link_result %}
                                <pre><code class="json">{{ link_result }}</code></pre>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <h4>Unlink User from Social Profile</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="/user/unlink" method="POST">
                        <div class="form-group row">
                            <label for="id_user_id_unlink" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_unlink" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_unlink" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_unlink" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-block" type="submit" value="Unlink">Unlink</button>
                            </div>
                        </div>
                        <div class="form-group row code-result">
                            <div class="col-md-10">
                                {% if unlink_result %}
                                <pre><code class="json">{{ unlink_result }}</code></pre>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-box">
                <div class="row p-20">
                    <div class="col-md-6">
                        <div><a class="btn line-btn" href="/auth/line"></a></div>
                        <div><a class="btn amazon-btn" href="/auth/amazon"></a></div>
                        <div><a class="btn yahoo-btn" href="/auth/yahoojp"></a></div>
                        <div><a class="btn facebook-btn" href="/auth/facebook"></a></div>
                        <div><a class="btn twitter-btn" href="/auth/twitter"></a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="code-result">
                            {% if line %}
                            <h4>Logged in LINE as</h4>
                            <pre><code class="json">{{ line }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if facebook %}
                            <h4>Logged in FACEBOOK as</h4>
                            <pre><code class="json">{{ facebook }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if amazon %}
                            <h4>Logged in AMAZON as</h4>
                            <pre><code class="json">{{ amazon }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if twitter %}
                            <h4>Logged in TWITTER as</h4>
                            <pre><code class="json">{{ twitter }}</code></pre>
                            {% endif %}
                        </div>
                        <div class="code-result">
                            {% if yahoojp %}
                            <h4>Logged in YAHOO JAPAN as</h4>
                            <pre><code class="json">{{ yahoojp }}</code></pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();


</script>
</body>
</html>