<div id="SocialAuthForm" class="col-md-6">
    <h4 class="text-center">OR</h4>
    <div class="login-form line-form">
        <a href="/hosted/shopify/{{ shop }}/auth/line">
        <button class="line-btn">Login with LINE</button>
        </a>
    </div>
    <div class="login-form yahoo-form">
        <a href="hosted/shopify/{{ shop }}/auth/yahoojp">
        <button class="yahoo-btn">Login with YAHOOJP</button>
        </a>
    </div>
    <div class="login-form facebook-form">
        <a href="hosted/shopify/{{ shop }}/auth/facebook">
        <button class="facebook-btn">Login with FACEBOOK</button>
        </a>
    </div>
</div>