<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EasyLogin Configuration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4>Easy Login API Explorer</h4>
                <div class="p-l-30">
                    <form class="form-horizontal" action="#" method="get" id="id_form_link">
                        <div class="form-group row">
                            <label for="id_user_id_link" class="col-md-2 col-form-label">User ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_user_id_link" placeholder="User ID" type="text"
                                       name="user_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_social_id_link" class="col-md-2 col-form-label">Social ID</label>
                            <div class="col-md-8">
                                <input class="form-control" id="id_social_id_link" placeholder="Social ID" type="text"
                                       name="social_id">
                            </div>
                        </div>
                    </form>
                    <div class="form-group row">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" id="btn_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>